<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Webflix Symfony{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header class="flex items-center px-6 h-[10vh] shadow-lg">
            <h1 class="font-bold align-middle text-3xl mr-6">Webflix Symfony</h1>
            <ul class="flex items-center gap-4 text-xl">
                <li><a class="inline-block py-1 border-b-2 border-white hover:border-slate-400" href="{{ path('home') }}">Home</a></li>
                <li><a class="inline-block py-1 border-b-2 border-white hover:border-slate-400" href="{{ path('category_list') }}">Categories</a></li>
                <li><a class="inline-block py-1 border-b-2 border-white hover:border-slate-400" href="{{ path('movie_list') }}">Movies</a></li>
                <li><a class="inline-block py-1 border-b-2 border-white hover:border-slate-400" href="{{ path('actor_list') }}">Actors</a></li>
                <li><a class="inline-block py-1 border-b-2 border-white hover:border-slate-400" href="{{ path('contact') }}">Contact</a></li>
                <li><a class="inline-block py-1 border-b-2 border-white hover:border-slate-400" href="{{ path('about') }}">About</a></li>
            </ul>
            <div class="flex justify-end grow gap-3 text-xl">
                <span class="inline-block">Login</span>
                <span class="inline-block">Register</span>
            </div>
        </header>

        <main class="px-6 my-3">
            {% block body %}{% endblock %}
        </main>

        <footer class="px-6">
            <h3 class="text-center text-lg">Copyright 2022 - Webflix</h3>
        </footer>
    </body>
</html>
